@import './variables.scss';

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section.hero {
    background: $secondary;
}
.size {
    background: $secondary;
}

//Agregar al carrito
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

//Estilo del bot贸n Ordenar Ahora
.btn-primary {
    background: $primary;
    transition: $smooth;
    &:hover {
        background: $primary-hover;
    }
}

//Secci贸n del estilo del carrito
section.cart {
    background: $secondary;
    .amount {
        color: $primary;
    }
}


//Secci贸n del estilo del login (Inicio de sesi贸n)
section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}