<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/carrito2.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Mi orden</h1>
        </div>
        <div class="licuados-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/licuado_banano.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Licuado de Banano</h1>
                    <span>MEDIO</span>
                </div>
                <span class="flex-1">1 Licuado</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Cantidad total:</span>
                <span class="amount text-2xl font-bold ml-2">Q 300.00</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Número de teléfono">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Dirección">
                    <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Ordena
                            Ahora</button>
                    </div>
                </form>
            </div>
   
   
   
   
   
   
   
   
   

    <!--<div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Carrito vacío!</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Ordena Ahora</button>
            <p class="text-gray-500 text-lg">Probablemente no has ordenado nada todavía.
                Para ordernar un licuado ve al Menú.</p>
            <img class="w-2/5 mx-auto" src="/img/carrito_vacio.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold
            mt-12">Vuelve a la página anterior</a>
        </div>
    </div> -->
</section>
